.table {
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(3, 33%);
    width: 400px;
    height: 400px;
}

.cell {
    font-size: xx-large;
    border: 1px solid black;
    position: relative;
}

.cell>p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}